*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#ececec;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    overflow:hidden;
    font-family:'Montserrat',sans-serif;
}

.pantalla{
    width:1080px;
    height:1920px;
    background:linear-gradient(180deg,#2417a9,#2c229e);
    position:relative;
    overflow:hidden;

}

/*================ HEADER ================*/

header{

    width:100%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top:35px;

}

.logo-img{
    height:80px;
    width:auto;

}

/*================ TITULO ================*/

.titulo{
    margin-top:140px;
    text-align:center;
}

.titulo h1{
    color:white;
    font-size:95px;
    font-weight:700;
    letter-spacing:2px;
}

.titulo h2{
    color:#ff146a;
    font-size:140px;
    font-weight:700;
    margin-top:-15px;

}

.linea{
    width:82%;
    height:8px;
    background:#ff146a;
    margin:70px auto;

}

.telefono{
    position:absolute;
    left:-80px;
    bottom:0;
    width:650px;

}






.mensaje {
    position: absolute;
    top: 770px;
    right: 40px;
    width: 690px;
    text-align: center;
}

.mensaje h2 {
    color: white;
    font-size: 65px;
    line-height: 1;
    font-weight: 800;
}

.mensaje h3 {
    color: white;
    font-size: 65px;
    line-height: 1;
    font-weight: 800;
    margin-bottom: 40px;
}

/* Grid para ordenar los logotipos */
.companias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}

.comp {
    width: 330px;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.comp img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.full-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

.align-right {
    justify-content: flex-end;
}

.align-right img {
    width: 350px;
}




.qr{
    position:absolute;
    left:70px;
    bottom:65px;
    width:120px;

}


.facebook{
    position:absolute;
    left:35px;
    bottom:5px;
    display:flex;
    align-items:center;

}

.facebook img{
    width:48px;
    height:48px;

}

.facebook span{
    margin-left:12px;
    color:white;
    font-size:24px;
    font-weight:600;

}


.info{
    position:absolute;
    right:40px;
    bottom:0;
    text-align:right;

}

.web{
    color:white;
    font-size:22px;
    font-weight:700;
    margin-bottom:15px;
    cursor: pointer;

}

.atencion{
    color:white;
    font-size:25px;
    margin:0;

}

.numero{
    color:white;
    font-size:25px;
    margin-top:5px;

}
